<div *ngIf="edit">
    <label *ngIf="structure.label" class="label" id="{{structure.name}}Label">{{structure.label}}</label>

    <span *ngIf="structure.required" class="required">*</span>

    <input *ngIf="structure.tag == 'input'"
           [attr.max]="structure.max"
           [attr.maxlength]="structure.maxLength"
           [attr.min]="structure.min"
           [attr.name]="structure.name"
           [attr.pattern]="structure.pattern"
           [attr.placeholder]="structure.placeholder"
           [attr.required]="structure.required"
           [attr.size]="structure.size"
           [attr.type]="structure.type"
           [attr.value]="value"
           class="value"
           id="{{structure.name}}Value">

    <select *ngIf="structure.tag == 'select'"
            [attr.name]="structure.name"
            [attr.required]="structure.required"
            [attr.size]="structure.size">
        <option *ngFor="#option of structure.options" [attr.value]="option.value">{{option.label}}</option>
    </select>
</div>

<div *ngIf="!edit">
    <span *ngIf="structure.label" class="label" id="{{structure.name}}Label">{{structure.label}}</span>
    <span *ngIf="structure.required" class="required">*</span>
    <span class="value" id="{{structure.name}}Value">{{value}}</span>
</div>
