<h1>AspectFaces with Angular 2</h1>

<h2>Person with ID 1</h2>
<form>
    <button (click)="personFormEdit = !personFormEdit">{{personFormEdit ? 'Read' : 'Edit'}}</button>
    <hr>
    <af-form [formData]="personFormData" [edit]="personFormEdit">Loading...</af-form>
    <hr>
    <pre>{{personFormValues}}</pre>
</form>

<h2>PersonInfo of person with ID 1</h2>
<form>
    <button (click)="personInfoFormEdit = !personInfoFormEdit">{{personInfoFormEdit ? 'Read' : 'Edit'}}</button>
    <hr>
    <af-form [formData]="personInfoFormData" [edit]="personInfoFormEdit">Loading...</af-form>
    <hr>
    <pre>{{personInfoFormValues}}</pre>
</form>

<h2>Address of person with ID 1</h2>
<form>
    <button (click)="addressFormEdit = !addressFormEdit">{{addressFormEdit ? 'Read' : 'Edit'}}</button>
    <hr>
    <af-form [formData]="addressFormData" [edit]="addressFormEdit">Loading...</af-form>
    <hr>
    <pre>{{addressFormValues}}</pre>
</form>

<!-- <h2>Degree of person with ID 1</h2> -->
